<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Simple Login</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- un comment this if you want realtime app -->
    <!-- <script src="/socket.io/socket.io.js" defer></script> -->
    <script src="libs/jscssinclude.js" defer></script>
    <script src="libs/html_spa_router.js"></script>
    <script src="includes.js" defer></script>
  </head>
  <body>
    <div id="app" class="fullwidth fullheightvh"></div>
  </body>
</html>
